.login-section {
  background-color: transparent;
}
.login-section h1 {
  text-shadow: 5px -2px 3px grey;
}

.loginForm {
  padding: 20px;
  width: 60%;
  margin: 0px auto;
  z-index: 1;
}

.login-bg {
  background-image: url("../../backGroundImages//handsup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(3px); */
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:900px) {
  .loginForm {
    width: 80%;
  }
}
