* {
    box-sizing: border-box;
}
.event-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 16px;
    
    display: flex;
    flex-wrap: wrap;
}

.event-details {
    width:50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-right {
    width:45%;
    margin-left: auto;
}

.event-img{
    width:100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px -10px 10px gray;
    border-radius: 10px;
    
}

.event-img img {
    width: 100%;
}

.date-location {
    display: flex;
    justify-content: space-between;
    color: rgb(151, 34, 89);
}

@media (max-width:1000px) {
    .event-img {
       
        width: 100%;
    }
    .event-container {
       flex-direction:column-reverse;
    }
    .event-details {
        width: 100%;
    }
    .event-right {
        width:80%;
        margin: 0 auto;
    }
}
h3 {
    text-align: left;
    padding: 10px 0;
}