.navbar {
    /* background-image:  url(../backGroundImages/crowd-concert-27664953.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(0, 0, 0, 0.897);
    border-bottom: 2px solid black;
    height:100px;
}



.nav-link {
    font-weight:700;


}


a:visited {
    color: aliceblue;
}
 

a {
    
    text-decoration: none;
   
   
} 
.nav-element {
    color: #fff;
    font-weight:700;
    font-size:1.2em;
}
/* trying to change the color of navbar links */
.signout {
    color: rgb(243, 118, 87) ;
    font-weight:700;
    padding-left:0 ;
    cursor: pointer;
}


.flex-nav:last-child {
    position: absolute;
    right:50px;
    
}


