@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');


.navbar {
    /* background-image:  url(../backGroundImages/crowd-concert-27664953.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(0, 0, 0, 0.897);
    border-bottom: 2px solid black;
    height:100px;
}

.collapse {
    
    padding-left: 30px;
}

a:visited {
    color: aliceblue;
}
 
a {
    text-decoration: none;
} 
.nav-element {
    color: #fff;
    font-weight:600;
    font-size:1.1em;
}
/* trying to change the color of navbar links */
.signout {
    color: rgb(243, 87, 87) ;
    font-weight:700;
    font-size: 1.1em;
    padding-left:0 ;
    cursor: pointer;
}
.nav-toggler{
    display:none;
} 

.flex-nav:last-child {
    position: absolute;
    right:50px;
    
}
.nav-toggler {
    color: #fff;
}
@media (max-width:767px) {
    .nav-toggler{
        display:block;
    }  
    .nav-element , .signout{
        text-align:center;
    }
    .collapse {
        background-color: rgba(168, 164, 164, 0.63);
    }
}

.logo-span {
    position: absolute;
    left: 5px;
    top: 37px;
    font-family: 'Bungee Inline', cursive;
    font-size:0.9em;
}
