ul {
    display: flex;
    justify-content:space-around;
    list-style: none;
    align-items:center;
    padding: 5px 0;
    margin-right: 10px;
    
    
}

.MobileNavigation {
    display: none
}

@media(max-width:780px) {
    .Navigation {
        display: none;
    }
    
    .MobileNavigation {
        display: flex;
        color: red;
        justify-content: space-around;
    }
    
    .MobileNavigation ul {
        flex-direction: column;
    }

}

a:visited {
    color: aliceblue;
}

a {
    text-decoration: none;
}
