.container-xl {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    
}

.event-card {
    flex-direction:row;
    min-width: 250px;
    width: 100%;
    margin:10px 2px;
    padding: 20px;
    padding-bottom: none;
    box-shadow: 10px 10px 10px gray;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.filter-input {
    border-radius: 10px;
    width: 20%;
    display: inline-block;
}
.select-input {
    margin-left:10px
}
.card-img {
    max-height:250px;
    padding: 5px;
       
}


.card-body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding-bottom: 0;
}

.loading {
    animation: 1s loadSpinner infinite linear;

}
@keyframes loadSpinner {
    0% { transform: rotateZ(0)}
    100% {transform: rotateZ(360deg)}
}

.check-item {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.subscribe {
    position: relative;
    border-radius: 15px;
}

.subscribe:hover {
    box-shadow: 0 0 15px #fff;
}
/* .subscribe:hover::after {
    display:block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    content: "";
    height:16px;
    width:16px;
    color:white;
    z-index: 1;
    background-color: #fff;
    text-align: center;
} */

.delete-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 15px red;
    border-radius: 20px;
}

.filter{
    width: 100%;
    text-align:right;
    margin:20px 0 10px ;
    
}

.search-lens {
    margin-left:10px;
    cursor:pointer;
}
.search-lens:hover {
    color: lightgreen;
}

@media (max-width: 780px) {
    .event-card {
        flex-direction: column;

    }
    .card-img {
        max-height:none;
    }
}