.container-xl {

    width: 90%;
    display: flex;
    flex-wrap: wrap;
    
}

.event-card {

    border-radius:15px;
    flex-direction:row;
    min-width: 250px;
    width: 100%;
    justify-content: space-around;
    margin:10px 2px;
    padding: 20px;
    /* padding-bottom: none; */
    /* box-shadow: 10px 10px 10px gray; */
}


.filter-input {
    border-radius: 10px;
    width: 20%;
    display: inline-block;
}
.select-input {
    margin-left:10px
}
.card-img {
    max-height:250px;
    padding: 5px;
       
}


.card-body {
    
    display: flex; 
    flex-direction:column; 
    justify-content: space-between;
    padding-bottom: 0;
    max-width: 850px;
    margin-left: auto;
    
}

.loading {
    animation: 1s loadSpinner infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes loadSpinner {
    0% { transform: rotateZ(0)}
    100% {transform: rotateZ(360deg)}
}



.title-event:hover {
    color:  #ff0000;
    cursor: pointer;
}

.check-item:hover {
    box-shadow: 0px 0px 15px;
    cursor: pointer;
    
}

.check-item {
    

    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    padding: 5px 20px;
    color: white;
    border: 1px solid;
    border-radius: 20px
}


.flex {
    width:50%;
    display: flex;
    justify-content: space-between;
}

.subscribe {
    position: relative;
    border-radius: 20px;
    color: white;
}

.attend:hover {
    box-shadow: 0px 0px 20px;
    cursor: pointer;
}
.attend {
    width: 134px;
    padding: 5px 2px;
    color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 20px

}

.text{
    padding: 5px
}

/* .subscribe:hover::after {
    display:block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    content: "";
    height:16px;
    width:16px;
    color:white;
    z-index: 1;
    background-color: #fff;
    text-align: center;
} */

.delete-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 15px red;
    border-radius: 20px;
}

.filter{
    width: 100%;
    text-align:right;
    margin:20px 0 10px ;
    
}

.search-lens {
    margin-left:10px;
    cursor:pointer;
}
.search-lens:hover {
    color: lightgreen;
}

@media (max-width: 830px) {
    .event-card {
        flex-direction: column;

    }
    .card-img {
        max-height:none;
        
    }
    .event-card > a {
        width: 80%;
        margin: 0 auto;
    }
    .card-body {
        width: 100%;
    }
    .filter-input {
        width: 40%;
    }
    .check-item {
        position: static;
        width:50vw;
        margin: 10px 16px;
        text-align: center;
        padding: 5px;
    }
    .flex {
        width: 100%;
    }
    
}

