/* *{
  background-color: rgb(180, 180, 30);
} */


header {
  background-color: rgb(53, 38, 38);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  
}

header ul li {
  margin-left: 10px;

}


section {
  min-height:80vh;

}

footer {
  background-color: red;
  color: white;
  height:10vh;
}

.events {
  border: 1px solid black;
  border-radius: 5px;
}