@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

header {

  height: 100px;
  
}

section {
  min-height:78vh;
  position: relative;

}

footer {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
background-color: black;
  color: white;
  height:10vh;
}

.loginForm {
  width:80%;
  margin: 20px auto;

}
.show-error {
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
 
  
  z-index: 1;
  width:50%;
  /* margin: 10px auto; */
  text-align:center;
  color:red;
  background-color: rgba(65, 49, 49, 0.438);
  font-size:2em;
  border: 2px solid gray;
  border-radius: 20px;
}

.footer-icons {
 font-size:40px;
}