/* *{
  background-color: rgb(180, 180, 30);
} */


header {
  background-color: rgba(48, 126, 190, 0.897);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  
}

header ul li {
  margin-left: 10px;

}


section {
  min-height:80vh;

}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(48, 126, 190, 0.897);
  color: white;
  height:10vh;
}
                     /* to be deleted */
.events {
  border: 1px solid black;
  border-radius: 5px;
}


